.container{
  padding: 35px 10px;
  background: #fff;
  height: 100vh;
}
h1{
  text-align: center;
  margin-bottom: 35px;
}
.col-card{
  margin-top:5px;
  margin-bottom:15px;
}

.card-img-top, img{
  background: red;
}

.carrinho-compras{
  padding:10px;
  max-height: 500px;
  overflow: auto;
}

.carrinho-compras li{
  list-style-type: none;
  padding: 10px;
}

.carrinho-compras ul{
  margin-bottom:15px;
  border:1px solid gray;
  border-radius:5px;
}

.col-limpar button{
  width: 100%;
}
